.register_image{
    /* border:1px solid red; */
    width:240px;
    height:80px;
    margin: auto;
    
}
.R_image{
   display: block;
   margin: auto;
   margin-top: 15px;
   background-position: center; 
   background-repeat: no-repeat;
   background-size: cover;
}
.register{
    border:1px solid #979797;
    width:28%;
    height:700px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
}
.register>h1{
    font-size: 28px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color:#1f1f1f
}
.register>label{
    font-weight: 500;
}
.bottom>p{
    font-size: 13px;
    cursor: pointer;

}
.bottom>span{
    text-decoration: underline;
}
.footer{
    /* border: 1px solid red; */
    width:400px;
    height:60px;
    margin: auto;
}
.footer_1>p{
    font-size: 12px;
    text-align: center;
    color: #003953;
}
.footer>h5{
    font-size: 12px;
    text-align: center;
}
.footer_1>p:hover{
    text-decoration: underline;
    cursor: pointer;

}
.footer_1{
    display: flex;
    justify-content: space-evenly;

    gap: 20px;
}
.bottom-1{
    display: flex;
}